.SideBar{
    width: 250px;
    height: 82vh;
    background-color: #e31837;
}
/* #e31837,#ffc500 */
.SideBarList{
    height: auto;
    width: 100%;
    padding: 0;
}
.SideBarList .row-item{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: "600";
    cursor: pointer;
}
.SideBarList .row-item:hover{
    background-color: goldenrod;
}
.SideBarList .row-item:active{
    background-color: goldenrod;
}
.SideBarList .li-link{
    text-decoration: none;
    color: blanchedalmond;
    display: flex;
    flex: 60%;
}
.SideBarList .li-link #icon{
    flex: 40%;
    display: grid;
    place-items: center;
}
.SideBarList #title{
    flex: 60%;
}
